{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<main>
    <h1>{{ todo_object.name }}</h1>
    <p><a href = "{% url "edit_list" todo_object.id %}">Edit</a></p>
    <p><a href = "{% url "delete_list_item" todo_object.id %}">Delete</a></p>
    <div>

        <table>
            <thead>
                    <th>Name</th>
                    <th>Due Date</th>
            </thead>
         <tbody>
                {% for item in todo_object.items.all %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td> {{ item.due_date|date:"M d, Y"}} </td>
                </tr>
                {% endfor %}
            </tbody>
           </table>
    </div>

</main>
{% endblock content %}
