{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
{% comment %} <nav>
    <a href="{% url 'todo_list_detail' todo_list_detail.id %}">{{ todo_object.name }}</a>
</nav> {% endcomment %}
<main>
    <h1>My Lists</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list.all %}
            <tr>
                <td> <a href="{% url 'todo_list_detail' todo.id %}"%>{{ todo.name }}</a> </td>
                <td>{{ todo.items.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
       </table>
</main>
{% endblock content %}
