{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}My Lists{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Noto+Serif+Georgian:wght@100;200;300;400&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            {% block content %}{% endblock content %}
        </main>

        <footer>
        </footer>
    </body>
</html>
